// ==========================================================================
// Element alignment classes
// ==========================================================================

.left 
{
	text-align: left !important;
}

.right 
{
	text-align: right !important;
}

.center 
{
	text-align: center !important;
}

@include _bp-prefixer-basic
{
	&left 
	{
		text-align: left !important;
	}

	&right 
	{
		text-align: right !important;
	}

	&center 
	{
		text-align: center !important;
	}
}

// ---
// VERTICAL
// ---

.v-top 
{
	vertical-align: top !important;
}

.v-bottom
{
	vertical-align: bottom !important;
}

.v-middle
{
	vertical-align: middle !important;
}

.v-baseline
{
	vertical-align: baseline !important;
}
