// ==========================================================================
// Clearfix for non-overflow:hidden containers with floats
// ==========================================================================

.clearfix:before,
.clearfix:after 
{
    content: " ";
    display: table;
}

.clearfix:after 
{
    clear: both;
}