// ==========================================================================
// Element float positioning classes
// ==========================================================================

.fl-left
{
	float: left !important;
}

.fl-right 
{
	float: right !important;
}

.fl-none 
{
	float: none !important;
}

.fl-clear
{
	clear: both !important;
}

.fl-clear-left
{
	clear: left !important;
}

.fl-clear-right
{
	clear: right !important;
}