// ==========================================================================
// Shorthand input range styling classes
// UNUSED.
// Originally developed for job title percentage selection.
// ==========================================================================


.field-range {

	&.noUi-horizontal {
		height: _rem($base-rhythm);

		.noUi-handle {
			width: _rem($base-rhythm * 2);
			height: _rem($base-rhythm * 2);
		}
	}

	.noUi-handle {
		background: map-get($colors, 10);
		border: none;
		border-radius: _rem($base-rhythm);
		box-shadow: none;
		cursor: pointer;
		outline: none;

		&:before {
			display: none
		}

		&:after {
			display: none
		}

	}

}
