// ==========================================================================
// Navigation modules and patterns
// ==========================================================================

// ---
// GLOBAL SITE NAVIGATION
// For horizontally oriented navigation
// ---

.site-header
{
	height: _rem($base-rhythm * 7);

  .site-branding
  {
    width: 180px;
  }

	.site-navigation
	{
    li
    {
  		position: relative;

  		&:after
  		{
  			border-top: 0 $border-style map-get($colors, 3);
  			bottom: 0;
  			content: '';
  			display: block;
  			font-size: 0;
  			height: 0;
  			left: 0;
  			line-height: 0;
  			position: absolute;
  			width: 100%;

        opacity: 0;
        @include transition(all $transition-timing-base $transition-easing-base);
  		}

      &.active,
      &:hover
      {
        &:after
        {
          border-top-width: _rem(3px);
          opacity: 1;
        }
      }

      &.active
      {
        &:after
        {
          border-color: map-get($colors, 10);
        }
      }
    }
	}
}

// ---
// SIDEBAR NAVIGATION LIST
// For vertically oriented navigation
// ---

.nav
{
	.active
	{
		background-color: map-get($colors, 2);
    padding-left: _rem($base-gutter);
    position: relative;

    @include _mq(map-get($breakpoints, bps))
    {
      margin-left: _rem(-$base-gutter-large);
      padding-left: _rem($base-gutter-large);
    }

		&:after
		{
			border-left: 3px $border-style map-get($colors, 10);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 0;
		}
	}
}
