// ==========================================================================
// StickyBanner used on marketing homepage
// ==========================================================================

.stickybanner {
  bottom: 100%;
  left: 0;
  width: 100%;
  min-height: 40px;
  transition: transform 500ms cubic-bezier(0.57, 0.07, 0.25, 0.98);
  box-sizing: content-box;

  .site-branding {
    width: 155px;
    margin-top: -7px;
  }
}

.stickybanner--js {
  position: fixed;
  transform: translate3d(0, 0, 0);

  &.stickybanner--open {
    transform: translate3d(0, 100%, 0);
  }
}

// Custom work for homepage specific stickybanner+tabs associations
.homepage-content .stickybanner--js {
  &.stickybanner--open {
    opacity: 0;
    display: none !important;
  }

  &.stickybanner--open.-ontab {
    opacity: 1;
    display: flex !important;
  }

  a span { // shorten button so it doesn't wrap
    display: none;
    @media (min-width: 450px) {
      display: inline;
    }
  }
}
