// ==========================================================================
// Global variable configuration
// ==========================================================================

$_english_tea_defaults: (
	"base-font-size": 16px,
	"base-line-height": 1.5,
	"base-rhythm": 10px,
	"base-gutter": 15px,
	"base-gutter-large": 30px,
	"max-measure-callout": 800px,
	"max-measure-type": 750px,
	"max-measure-form": 600px,
	"max-width": 1160px,

	"breakpoint-none": 0px,
	"breakpoint-small": 768px,
	"breakpoint-medium": 1024px,
	"breakpoint-large": 1440px,
	"breakpoint-xlarge": 1680px,

	"type-font-title": ('Tungsten A', 'Tungsten B', sans-serif),
	"type-font-status": ('Tungsten Narrow A', 'Tungsten Narrow B', sans-serif),
	"type-font-body": ('Gotham A', 'Gotham B', sans-serif),
	"type-font-description": ('Chronicle Display A', 'Chronicle Display B', serif),
	"type-font-code": (Monaco, monospace),

	"type-style-title": normal,
  "type-style-body": normal,
  "type-style-description": italic,
  "type-weight-light": 300,
  "type-weight-normal": 400,
  "type-weight-medium": 500,
  "type-weight-semibold": 600,
  "type-weight-bold": 700,

	"base-color-scale": (#fff, #eee, #ccc, #9e9e9e, #888, #666, #333, #222, #111, #000, #efece4, #2b2b2b),
	"color-1": (#26f599, #1be68c, #13cb79, #24ba72),  // available
	"color-2": (#fdeb46, #f9e52d, #dcc914, #ccb92c),  // available soon
	"color-3": (#ff6452, #fb4530, #d34121, #c23d27),  // not available
	"color-4": (#0120f9, #0a21c4, #071ba7, #061b88),  // fulltime
	"color-5": (#ffbf2b, #ff9a1a, #e77c00, #d07100),  // out of office
	"color-6": (#444444, #333333, #222222, #000000),  // student/grayscale
	"color-job-fulltime": (#4a78ff, #0a21c4, #071ba7, #061b88),
	"color-job-freelance": (#ffccc7, #fb4530, #d34121, #c23d27),
	"color-job-internship": (#ffbf2b, #ff9a1a, #e77c00, #d07100),
);

$english_tea: () !default;

// Function to fetch a setting, merging user-set variables overtop of defaults
@function _fetch-setting($setting) {
  @return map-get(map-merge($_english_tea-defaults, $english_tea), $setting);
}


// ---
// BASE VALUES
// ---

$base-font-size: _fetch-setting("base-font-size");
$base-line-height: _fetch-setting("base-line-height");

$base-rhythm: _fetch-setting("base-rhythm");
$base-rhythm-half: $base-rhythm / 2;

$base-gutter: _fetch-setting("base-gutter");
$base-gutter-large: _fetch-setting("base-gutter-large");

$max-measure-callout: _fetch-setting("max-measure-callout");
$max-measure-type: _fetch-setting("max-measure-type");
$max-measure-form: _fetch-setting("max-measure-form");
$max-width: _fetch-setting("max-width");

// ---
// BREAKPOINTS, GRID & TILES
// ---

$breakpoints:
(
	none: _fetch-setting("breakpoint-none"),
	bps: _fetch-setting("breakpoint-small"),
	bpm: _fetch-setting("breakpoint-medium"),
	bpl: _fetch-setting("breakpoint-large"),
	bpxl: _fetch-setting("breakpoint-xlarge")
);

$grid-scale:
(
	small:
	(
		bp: none,
		cols: 3,
		gutter: $base-gutter
	),
	medium:
	(
		bp: bps,
		cols: 6,
		gutter: $base-gutter-large
	),
	large:
	(
		bp: bpm,
		cols: 8,
		gutter: $base-gutter-large
	),
	xlarge:
	(
		bp: bpm,
		cols: 10,
		gutter: $base-gutter-large
	)
);

$tiles-scale:
(
	small:
	(
		bp: none,
		gutter: $base-gutter,
		tiles: 2,
		tiles-alt: 1,
		tiles-full: 2,
		tiles-huge: 1
	),
	medium:
	(
		bp: bps,
		gutter: $base-gutter-large,
		tiles: 2,
		tiles-alt: 1,
		tiles-full: 2,
		tiles-huge: 1
	),
	large:
	(
		bp: bpm,
		gutter: $base-gutter-large,
		tiles: 3,
		tiles-alt: 2,
		tiles-full: 4,
		tiles-huge: 2
	),
	xlarge:
	(
		bp: bpl,
		gutter: $base-gutter-large,
		tiles: 4,
		tiles-alt: 3,
		tiles-full: 5,
		tiles-huge: 2
	),
	xxlarge:
	(
		bp: bpxl,
		gutter: $base-gutter-large,
		tiles: 5,
		tiles-alt: 3,
		tiles-full: 6,
		tiles-huge: 2
	)
);

// ---
// FIXED WIDTHS
// ---

$fixed-widths:
(
	0: 40px,
	1: 120px,
	2: 150px,
	3: 200px,
	4: 250px,
	5: 300px,
	6: 350px,
	7: 400px,
	8: 450px,
	9: 500px,
	10: 550px
);

// ---
// ORDERING
// ---

$order-scale:
(
	before: -1,
	normal: 1,
	after: 10,
	last: 100
);

// ---
// TYPOGRAPHIC SCALE
// ---

$type-scale:
(
	15:
	(
		size: 146px,
		line-height: 150px
	),
	14:
	(
		size: 132px,
		line-height: 140px
	),
	13:
	(
		size: 96px,
		line-height: 100px
	),
	12:
	(
		size: 72px,
		line-height: 80px
	),
	11:
	(
		size: 60px,
		line-height: 60px
	),
	10:
	(
		size: 48px,
		line-height: 50px
	),
	9:
	(
		size: 36px,
		line-height: 40px
	),
	8: //new 08/11
	(
		size: 28px,
		line-height: 30px
	),
	7:
	(
		size: 24px,
		line-height: 35px
	),
	6:
	(
		size: 22px,
		line-height: 30px
	),
	5:
	(
		size: 20px,
		line-height: 25px
	),
	4: //new 08/11
	(
		size: 18px,
		line-height: 25px
	),
	3:
	(
		size: 16px,
		line-height: 25px
	),
	2:
	(
		size: 14px,
		line-height: 25px
	),
	1:
	(
		size: 12px,
		line-height: 20px
	),
	0:
	(
		size: 10px,
		line-height: 10px
	)
);

$kerning-scale:
(
	0: 0,
	1: 0.0125em,
	2: 0.025em,
	3: 0.0375em,
	4: 0.05em,
	5: 0.0625em,
	6: 0.075em,
	7: 0.0875em,
	8: 0.1em,
	9: 0.25em,
	10: 0.5em
);

// ---
// TYPOGRAPHIC STYLE
// ---

$type-font-title: _fetch-setting("type-font-title");
$type-font-status: _fetch-setting("type-font-status");
$type-font-body: _fetch-setting("type-font-body");
$type-font-description: _fetch-setting("type-font-description");
$type-font-code: _fetch-setting("type-font-code");

$type-style-title: _fetch-setting("type-style-title");
$type-style-body: _fetch-setting("type-style-body");
$type-style-description: _fetch-setting("type-style-description");

$type-kerning-title: map-get($kerning-scale, 1);
$type-kerning-status: 0; //-0.0125em;
$type-kerning-desc: map-get($kerning-scale, 2);

$type-weight-light: _fetch-setting("type-weight-light");
$type-weight-normal: _fetch-setting("type-weight-normal");
$type-weight-medium: _fetch-setting("type-weight-medium");
$type-weight-semibold: _fetch-setting("type-weight-semibold");
$type-weight-bold: _fetch-setting("type-weight-bold");

// ---
// GUTTER SPACES
// 0px -> 50px (5px increments)
// ---

$gutter-scale:
(
	0: $base-rhythm * 0,
	1: $base-rhythm * 1,
	2: $base-rhythm * 2,
	3: $base-rhythm * 3,
	4: $base-rhythm * 4,
	5: $base-rhythm * 5,
	6: $base-rhythm * 6,
	7: $base-rhythm * 7,
	8: $base-rhythm * 8,
	9: $base-rhythm * 9,
	10: $base-rhythm * 10,
	11: $base-rhythm * 11,
	12: $base-rhythm * 12,
	13: $base-rhythm * 13,
	14: $base-rhythm * 14,
	15: $base-rhythm * 15,
	16: $base-rhythm * 16,
	17: $base-rhythm * 17,
	18: $base-rhythm * 18,
	19: $base-rhythm * 19,
	20: $base-rhythm * 20,
	21: $base-rhythm * 21,
	22: $base-rhythm * 22,
	23: $base-rhythm * 23,
	24: $base-rhythm * 24,
	25: $base-rhythm * 25
);

// ---
// COLORS
// ---

$colors:
(
	1: nth(_fetch-setting("base-color-scale"), 1),
	2: nth(_fetch-setting("base-color-scale"), 2),
	3: nth(_fetch-setting("base-color-scale"), 3),
	4: nth(_fetch-setting("base-color-scale"), 4),
	5: nth(_fetch-setting("base-color-scale"), 5),
	6: nth(_fetch-setting("base-color-scale"), 6),
	7: nth(_fetch-setting("base-color-scale"), 7),
	8: nth(_fetch-setting("base-color-scale"), 8),
	9: nth(_fetch-setting("base-color-scale"), 9),
	10: nth(_fetch-setting("base-color-scale"), 10),
	11: nth(_fetch-setting("base-color-scale"), 11),
	12: nth(_fetch-setting("base-color-scale"), 12)
);

$colors-status:
(
	stat-a: // Available
	(
		1: nth(_fetch-setting("color-1"), 1),
		2: nth(_fetch-setting("color-1"), 2),
		3: nth(_fetch-setting("color-1"), 3),
		4: nth(_fetch-setting("color-1"), 4)
	),
	stat-as: // Available Soon
	(
		1: nth(_fetch-setting("color-2"), 1),
		2: nth(_fetch-setting("color-2"), 2),
		3: nth(_fetch-setting("color-2"), 3),
		4: nth(_fetch-setting("color-2"), 4)
	),
	stat-na: // Not Available
	(
		1: nth(_fetch-setting("color-3"), 1),
		2: nth(_fetch-setting("color-3"), 2),
		3: nth(_fetch-setting("color-3"), 3),
		4: nth(_fetch-setting("color-3"), 4)
	),
	stat-ft: // Fulltime
	(
		1: nth(_fetch-setting("color-4"), 1),
		2: nth(_fetch-setting("color-4"), 2),
		3: nth(_fetch-setting("color-4"), 3),
		4: nth(_fetch-setting("color-4"), 4)
	),
	stat-ooo: // Out of Office
	(
		1: nth(_fetch-setting("color-5"), 1),
		2: nth(_fetch-setting("color-5"), 2),
		3: nth(_fetch-setting("color-5"), 3),
		4: nth(_fetch-setting("color-5"), 4)
	),
	stat-edu: // Student
	(
		1: nth(_fetch-setting("color-6"), 1),
		2: nth(_fetch-setting("color-6"), 2),
		3: nth(_fetch-setting("color-6"), 3),
		4: nth(_fetch-setting("color-6"), 4)
	)
);

$colors-job-statuses:
(
	open: map-get($colors-status, stat-a),
	opened: map-get($colors-status, stat-a),
	closed: map-get($colors-status, stat-na),

	hired: map-get($colors-status, stat-a),
	interested: map-get($colors-status, stat-a),
	not_interested: map-get($colors-status, stat-na)
);

$colors-job-types:
(
	fulltime:
	(
		1: nth(_fetch-setting("color-job-fulltime"), 1),
		2: nth(_fetch-setting("color-job-fulltime"), 2),
		3: nth(_fetch-setting("color-job-fulltime"), 3),
		4: nth(_fetch-setting("color-job-fulltime"), 4)
	),
	freelance:
	(
		1: nth(_fetch-setting("color-job-freelance"), 1),
		2: nth(_fetch-setting("color-job-freelance"), 2),
		3: nth(_fetch-setting("color-job-freelance"), 3),
		4: nth(_fetch-setting("color-job-freelance"), 4)
	),
	internship:
	(
		1: nth(_fetch-setting("color-job-internship"), 1),
		2: nth(_fetch-setting("color-job-internship"), 2),
		3: nth(_fetch-setting("color-job-internship"), 3),
		4: nth(_fetch-setting("color-job-internship"), 4)
	)
);

$colors-social:
(
	twitter: #1dabed,
	facebook: #4e73bf,
	instagram: #4090dc,
	linkedin: #167fbc,
	behance: #1a9bf6,
	dribbble: #135ffc,
	github: #000,
	pinterest: #d43939,
	vimeo: #1eb4ea,
	etsy: #f4621f,
	blog: #000,
	medium: #1b1a18,
	codepen: #000,
	youtube: #ff0000
);

$color-border-base: map-get($colors, 2);
$color-fill-base: map-get($colors, 1);
$color-text-base: map-get($colors, 10);
$color-shadow-base: map-get($colors, 4);

$color-fill-shade: #f7f7f7;
$color-fill-progress: #0076ff;

$color-validation-error: map-get(map-get($colors-status, stat-na), 3);
$color-validation-success: map-get(map-get($colors-status, stat-a), 3);

// ---
// BORDERS
// ---

$border-width: 1px;
$border-style: solid;

$border-radius-base: 0;
$border-radius-rounded: 2px;
$border-radius-pill: 100px;
$border-radius-circle: 100%;

// ---
// LAYERING
// ---

$layer-scale:
(
	0: -1,
	1: 0,
	2: 1,
	3: 10,
	4: 100,
	5: 1000
);

// ---
// BUTTONS
// ---

$button-scale:
(
	1: // 30px
	(
		padding-x: 15px,
		padding-y: 5px
	),
	2: // 40px
	(
		padding-x: 20px,
		padding-y: 10px
	),
	3: // 50px
	(
		padding-x: 25px,
		padding-y: 15px
	),
	4: // 60px
	(
		padding-x: 25px,
		padding-y: 20px
	),
	5: // 70px
	(
		padding-x: 30px,
		padding-y: 25px
	)
);

// ---
// ICONS
// ---

$icon-scale:
(
	base: 20px,
	tiny: 15px,
	large: 25px,
	huge: 30px,
	massive: 40px,
	enormous: 50px
);

// ---
// OPACITY
// ---

$opacity-scale:
(
	0: 0,
	1: 0.25,
	2: 0.375,
	3: 0.5,
	4: 0.625,
	5: 0.75,
	6: 1
);

// ---
// TRANSITION VALUES
// ---

$transition-easing-base: cubic-bezier(0.4, 0, 0.2, 1);
$transition-easing-border: $transition-easing-base;
$transition-easing-text: $transition-easing-base;
$transition-easing-button: $transition-easing-base;

$transition-timing-base: 0.125s;
$transition-timing-border: $transition-timing-base;
$transition-timing-text: $transition-timing-base;
$transition-timing-button: $transition-timing-base;
