// ==========================================================================
// Border color declaration classes
// Pulled from $colors
// ==========================================================================

@each $key, $val in $colors
{
	.c-b#{$key}
	{
		border-color: $val !important;
	}

	@each $_key, $_val in (top: t, right: r, bottom: b, left: l)
	{
		.c-b#{$_val}#{$key}
		{
			border-#{$_key}-color: $val !important;
		}
	}
}

.b-dash {
	border-style: dashed !important;
}

// ---
// Border color utility classes
// ---

.c-b-trans
{
	border-color: transparent !important;
}

@each $_key, $_val in (top: t, right: r, bottom: b, left: l)
{
	.c-b#{$_val}-trans
	{
		border-#{$_key}-color: transparent !important;
	}
}


@include _bp-prefixer(c-b)
{
	@each $key, $val in $colors
	{
		&#{$key}
		{
			border-color: $val !important;
		}

		@each $_key, $_val in (top: t, right: r, bottom: b, left: l)
		{
			&#{$_val}#{$key}
			{
				border-#{$_key}-color: $val !important;
			}
		}
	}
}
