// ==========================================================================
// Shorthand font family declaration classes
// ==========================================================================

.f
{
	font-family: $type-font-body;
	font-weight: $type-weight-normal;
	letter-spacing: normal;
	text-transform: $type-transform-body;
}

.f-title
{
	font-family: $type-font-title;
	font-weight: $type-weight-medium;
	letter-spacing: $type-kerning-title;
	text-transform: $type-transform-title;

	&.no-caps {
		letter-spacing: -0.05rem;
	}
}

.f-status
{
	font-family: $type-font-status;
	font-weight: $type-weight-semibold;
	letter-spacing: $type-kerning-status;
	text-transform: $type-transform-status;

	&.no-caps {
		letter-spacing: -0.025rem;
	}
}

.f-desc
{
	font-family: $type-font-description;
	font-style: $type-style-description;
	font-weight: $type-weight-normal;
	letter-spacing: $type-kerning-description;
	text-transform: $type-transform-description;
}

.f-code
{
	font-family: $type-font-code;
	font-weight: $type-weight-normal;
	text-transform: $type-transform-code;
}
